/* STICKY ELEMENT */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky-right {
    height: auto;
    width: auto;
    margin-right: 20px;
    flex-grow: 1;
    position: sticky;
    top: 5rem;
}
